<?xml version="1.0" encoding="UTF-8"?>
<!-- 导头文件 -->
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis的核心配置文件 -->
<configuration>
	<!-- 配置数据库属性 -->
	<properties resource="db.properties"/>

	<!-- 配置日志的输出方式 -->
	<settings>
		<setting name="logImpl" value="LOG4J"/>
		<!-- 打印查询语句 -->
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>

	<!-- 别名优化 -->
	<typeAliases>
		<typeAlias type="com.model.Login" alias="Login"/>
		<typeAlias type="com.model.Student" alias="Student"/>
		<typeAlias type="com.model.StudentKey" alias="StudentKey"/>
		<typeAlias type="com.model.BookInfo" alias="BookInfo"/>
		<typeAlias type="com.model.BorrowInfo" alias="BorrowInfo"/>
		<typeAlias type="com.model.CourseInfo" alias="CourseInfo"/>
		<typeAlias type="com.model.AssignClass" alias="AssignClass"/>
		<typeAlias type="com.model.AssignCourse" alias="AssignCourse"/>
		<typeAlias type="com.model.StudentInfo" alias="StudentInfo"/>
		<typeAlias type="com.model.SystemClassInfoList" alias="SystemClassInfoList"/>
		<typeAlias type="com.model.TeacherInfo" alias="TeacherInfo"/>
		<typeAlias type="com.model.SystemClassInfo" alias="SystemClassInfo"/>
		<typeAlias type="com.model.SystemCourseCode" alias="SystemCourseCode"/>
		<typeAlias type="com.model.SystemGradeCode" alias="SystemGradeCode"/>
		<typeAlias type="com.model.SystemSpecialtyCode" alias="SystemSpecialtyCode"/>
		<package name="com.model"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
	</environments>

<!--	<mappers>-->
<!--		<mapper resource="com/mapper/LoginMapper.xml"/>-->
<!--		<mapper resource="com/mapper/StudentMapper.xml"/>-->
<!--		<mapper resource="com/mapper/StudentKeyMapper.xml"/>-->
<!--		<mapper resource="com/mapper/BookInfoMapper.xml"/>-->
<!--		<mapper resource="com/mapper/BorrowInfoMapper.xml"/>-->
<!--		<mapper resource="com/mapper/CourseStuInfoMapper.xml"/>-->
<!--		<mapper resource="com/mapper/AssignClass.xml"/>-->
<!--		<mapper resource="com/mapper/AssignCourseMapper.xml"/>-->
<!--		<mapper resource="com/mapper/StudentInfoMapper.xml"/>-->
<!--		<mapper resource="com/mapper/TeacherInfoMapper.xml"/>-->
<!--		<mapper resource="com/mapper/SystemClassInfoMapper.xml"/>-->
<!--		<mapper resource="com/mapper/SystemCourseCodeMapper.xml"/>-->
<!--		<mapper resource="com/mapper/SystemGradeCodeMapper.xml"/>-->
<!--		<mapper resource="com/mapper/SystemSpecialtyCodeMapper.xml"/>-->
<!--		<package name="com.mapper"/>-->
<!--	</mappers>-->
</configuration>